@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*-------------------------------------------------*/
html,
body {
  font-family: "PT Sans";
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.universal__button {
  display: inline-block;
}

.universal__text {
  letter-spacing: 0.1em;
  font-size: 16px;
  line-height: 140%;
  text-transform: uppercase;
  padding: 0px 0px 0px 0px;
}

.universal__circle {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: inline-block;
  margin: 0px 0px 0px 15px;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.universal__circle span {
  margin: 0px 0px 0px 5px;
}

.universal__button:hover .universal__circle {
  -webkit-transform: translate(45px, 0px);
      -ms-transform: translate(45px, 0px);
          transform: translate(45px, 0px);
}

.container {
  max-width: 1296px;
  margin: 0 auto;
  padding: 0 10px;
}

a {
  text-decoration: none;
  color: black;
}

.header {
  width: 100%;
  margin: 40px 0;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header__row {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 2;
}

.header__row-items ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__row-items ul li {
  font-size: 16px;
  line-height: 140%;
  margin: 0px 30px 0px 0px;
}

.header__row-items ul li:last-child {
  margin: 0px 0px 0px 0px;
}

.header__row-items ul li a:hover {
  color: #3d348b;
  font-weight: 700;
}

.header__row-input {
  border: none;
  border-bottom: 1px solid black;
}

.header__row-input:active {
  border: none;
}

.header__search-button {
  border: none;
  background: none;
}

.main ul li button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: 100%;
}

.main ul li a {
  display: block;
  text-decoration: none;
}

.main ul li a,
.main ul li button {
  padding: 5px 10px;
  text-align: center;
}

.menu {
  position: absolute;
  top: 50px;
  visibility: hidden;
  -webkit-transform: translateY(-1em);
      -ms-transform: translateY(-1em);
          transform: translateY(-1em);
  -webkit-transition: -webkit-transform ease 0.5s;
  transition: -webkit-transform ease 0.5s;
  -o-transition: transform ease 0.5s;
  transition: transform ease 0.5s;
  transition: transform ease 0.5s, -webkit-transform ease 0.5s;
}

.dropdown {
  padding: 5px 1.5rem;
  height: 0px;
  overflow: hidden;
  -webkit-transition: height ease 0.6s;
  -o-transition: height ease 0.6s;
  transition: height ease 0.6s;
}

.dropdown li {
  margin-bottom: -5px;
}

.main li:focus-within .dropdown {
  height: 100px;
}

.arrow {
  width: 5px;
  height: 5px;
  display: inline-block;
  vertical-align: middle;
  border-left: 0.15em solid #5db7de;
  border-bottom: 0.15em solid #5db7de;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  margin-left: 5px;
  margin-top: -6px;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.main li:focus-within > button > .arrow {
  -webkit-transform: rotate(-225deg);
      -ms-transform: rotate(-225deg);
          transform: rotate(-225deg);
  margin-top: 5px;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.introduction {
  background: url("../../img/backgrounds/Rectangle 23.png") 50%/auto no-repeat;
}

.introduction__row {
  padding: 113px 0px 113px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.introduction__port {
  margin: 0px 250px 0px 0px;
}

.introduction__header {
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  font-size: 50px;
  line-height: 140%;
  color: #ffffff;
}

.introduction__description {
  margin: 40px 0px 0px 0px;
  font-size: 16px;
  line-height: 140%;
  color: #ffffff;
}

.introduction__button {
  margin: 64px 0px 0px 0px;
}

.introduction__text span,
.introduction__text a {
  color: #ffffff;
}

.introduction__circle {
  border: 2px solid #ffffff;
}

.introduction__grid {
  margin: 0px -20px 0px 0px;
}

.universal__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(306px, 1fr) minmax(306px, 1fr);
  grid-template-columns: minmax(306px, 1fr) minmax(306px, 1fr);
  -ms-grid-rows: minmax(205px, 1fr) minmax(205px, 1fr);
  grid-template-rows: minmax(205px, 1fr) minmax(205px, 1fr);
}

.universal__grid > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.universal__grid > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.universal__grid > *:nth-child(3) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}

.universal__grid > *:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}

.universal__grid-item {
  background-color: #5db7de;
  border-radius: 10px;
  color: #fff;
  margin: 0px 24px 24px 0px;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.universal__grid-item:hover {
  -webkit-transform: scale(1.07, 1.07);
      -ms-transform: scale(1.07, 1.07);
          transform: scale(1.07, 1.07);
  -webkit-box-shadow: 0px 0px 26px -7px rgba(0, 0, 0, 0.59);
  box-shadow: 0px 0px 26px -7px rgba(0, 0, 0, 0.59);
}

.universal__grid-text {
  margin: 30px 35px 118px 35px;
  font-size: 13px;
  text-transform: uppercase;
}

.universal__grid-description {
  margin: 0px 35px 30px 35px;
}

.service__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 150px 0;
}

.service__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0px -10px 0px 0px;
}

.service__head {
  margin-bottom: 60px;
}

.universal__head {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 140%;
  color: #333333;
}

.service__files {
  display: -ms-inline-grid;
  display: inline-grid;
  -ms-grid-columns: (250px)[2];
  grid-template-columns: repeat(2, 250px);
}

.service__pdf {
  margin: 6px 0px 0px 15px;
  width: 46px;
  height: 34px;
  background-color: #5db7de;
  text-align: center;
  color: white;
  border-radius: 7px;
  line-height: 32px;
}

.service__file {
  margin-bottom: 30px;
  max-width: 250px;
}

.service__anker {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #3d348b;
  -webkit-text-decoration: underline #3d348b dotted;
          text-decoration: underline #3d348b dotted;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.service__anker:hover {
  color: rgb(243, 173, 45);
  -webkit-text-decoration: underline rgb(243, 173, 45) dotted;
          text-decoration: underline rgb(243, 173, 45) dotted;
}
.service__anker:hover .service__pdf {
  background-color: rgb(243, 173, 45);
}

.service__grid {
  -ms-grid-columns: minmax(416px, 416px) minmax(416px, 416px);
  grid-template-columns: minmax(416px, 416px) minmax(416px, 416px);
  -ms-grid-rows: minmax(223px, 223px) minmax(223px, 223px);
  grid-template-rows: minmax(223px, 223px) minmax(223px, 223px);
}

.service__grid > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.service__grid > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.service__grid > *:nth-child(3) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}

.service__grid > *:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}

.service__grid-item-big {
  background-color: #3d348b;
}

.about {
  background-color: #f8f7f7;
}

.about__row {
  margin: 100px 0px 110px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__head {
  margin-bottom: 60px;
}

.about__text {
  max-width: 636px;
  margin: 0px 134px 0px 0px;
}

.about__text p,
li {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #333333;
  margin-bottom: 16px;
}

.about__text ul li {
  list-style: disc;
  margin-left: 15px;
}

.about__media {
  margin-top: 116px;
}

.about__query {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 30px;
  background-color: #5db7de;
  border-radius: 20px;
  padding: 30px 35px;
  max-width: 526px;
}

.about__query-header {
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 140%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 38px;
}

.about__query-anker {
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 140%;
  color: #ffffff;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.about__query-anker:hover {
  color: #3d348b;
}

.news__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 150px 0px 177px 0px;
}

.news__header {
  margin: 0px 0px 60px 0px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.news__text span,
.news__text a {
  color: #3d348b;
}

.news__circle {
  border: 2px solid #3d348b;
}

.news__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 24px 1fr 24px 1fr 24px 1fr;
  grid-template-columns: repeat(4, 1fr);
  -webkit-column-gap: 24px;
     -moz-column-gap: 24px;
          column-gap: 24px;
}

.news__grid-item {
  color: #333333;
  display: -ms-grid;
  display: grid;
}

.news__grid-image {
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  border-radius: 15px;
}

.news__grid-image:hover {
  -webkit-transform: scale(1.04, 1.01);
      -ms-transform: scale(1.04, 1.01);
          transform: scale(1.04, 1.01);
  -webkit-box-shadow: 0px 0px 26px -7px rgba(0, 0, 0, 0.59);
  box-shadow: 0px 0px 26px -7px rgba(0, 0, 0, 0.59);
}

.news__grid-date {
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 140%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.news__grid-header {
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 140%;
}

.news__grid-text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
}

.footer-universal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__upper {
  padding: 45px 0px 45px 0px;
  background-color: rgba(61, 52, 139, 0.7529411765);
}

.footer__upper-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__upper-row a {
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
  color: #ffffff;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.footer__upper-row a:hover {
  font-size: 18px;
}

.footer__upper-location::before {
  content: url("../../img/icons/Location icon.svg");
  margin: 0px 24px 0px 0px;
}

.footer__upper-location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__upper-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__upper-phone::before {
  content: url("../../img/icons/Phone icon.svg");
  margin: 0px 24px 0px 0px;
}

.footer__upper-phone {
  margin: 0px 24px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__upper-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__upper-email::before {
  content: url("../../img/icons/Mail icon.svg");
  margin: 0px 24px 0px 0px;
}

.footer__email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__bottom {
  background-color: #3d348b;
}

.footer__bottom-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 80px 0px 80px 0px;
}

.footer__bottom-head {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0px 0px 30px 0px;
}

.footer__bottom-row a {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #ffffff;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.footer__bottom-row a:hover {
  color: rgba(171, 170, 174, 0.7529411765);
}

.footer__rights-text {
  font-weight: 700;
  font-size: 13px;
  line-height: 140%;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.6392156863);
  margin: 0px 0px 30px 0px;
}

@media (max-width: 1420px) {
  .news__button {
    margin-right: 50px;
  }
}
@media (max-width: 1340px) {
  .news__grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 30px 1fr;
    grid-template-columns: repeat(2, 1fr);
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
            column-gap: 30px;
    row-gap: 24px;
    margin: 0 auto;
  }
  .news__row {
    margin: 50px 0px 77px 0px;
  }
}
@media (max-width: 1310px) {
  .header {
    margin-bottom: -80px;
  }
  .introduction__port {
    max-width: 600px;
    margin: 0px 0px 0px 0px;
  }
  .introduction__header {
    margin-bottom: -30px;
  }
  .introduction__description {
    margin-bottom: -30px;
  }
  .introduction__button {
    margin-bottom: 30px;
  }
  .introduction__row {
    margin-top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .universal__grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: minmax(306px, 306px) minmax(306px, 306px);
    grid-template-columns: minmax(306px, 306px) minmax(306px, 306px);
    -ms-grid-rows: minmax(205px, 205px) minmax(205px, 205px);
    grid-template-rows: minmax(205px, 205px) minmax(205px, 205px);
  }
  .universal__grid > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .universal__grid > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }
  .universal__grid > *:nth-child(3) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .universal__grid > *:nth-child(4) {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
  }
  .universal__grid-text {
    margin: 20px 35px 90px 35px;
  }
  .universal__grid-description {
    margin: 0px 35px 30px 35px;
  }
  .service__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: -100px;
    margin-bottom: 0px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .service__head {
    margin-bottom: 10px;
  }
  .service__files {
    -ms-grid-columns: minmax(500px, 1fr) minmax(40px, 90px);
    grid-template-columns: minmax(500px, 1fr) minmax(40px, 90px);
    margin-bottom: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .service__file {
    margin-bottom: 20px;
    max-width: 500px;
  }
  .service__file:first-child {
    margin-bottom: 0px;
  }
  .about__row {
    margin-left: 40px;
    margin-right: 40px;
  }
  .about__vessel {
    max-width: 400px;
  }
  .about__query {
    max-width: 400px;
  }
  .news__row {
    margin-left: 40px;
    margin-right: 60px;
  }
  .news__button {
    margin-right: 0px;
  }
}
@media (max-width: 1200px) {
  .about__text {
    max-width: 636px;
    margin: 0px 70px 0px 0px;
  }
}
@media (max-width: 1020px) {
  .header__img img {
    display: none;
  }
  .about__description .about__head {
    margin-bottom: 20px;
  }
  .about__text {
    max-width: 580px;
    margin: 0px 0px 0px 0px;
  }
  .about__text p,
li {
    margin-bottom: 10px;
  }
  .about__media {
    margin-top: 0px;
  }
  .about__row {
    margin-top: 0px;
    margin-bottom: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 0px;
  }
  .about__media,
.about__description {
    margin: 0 auto;
  }
  .about__vessel {
    display: none;
  }
  .about__query {
    margin-top: 10px;
    padding: 10px 15px;
    max-width: 600px;
  }
  .about__query-header {
    margin-bottom: 10px;
  }
  .news__row {
    margin-left: 40px;
    margin-right: 40px;
  }
  .news__grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 300px 30px 300px;
    grid-template-columns: repeat(2, 300px);
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
            column-gap: 30px;
    row-gap: 24px;
    margin: 0 auto;
  }
  .news__grid-image {
    max-width: 250px;
  }
  .news__button {
    margin-right: 20px;
  }
  .footer__upper-logo img {
    display: none;
  }
}
@media (max-width: 900px) {
  .header__row {
    max-width: 530px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header__row-items {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    margin: 0px 0px 10px 0px;
  }
  .header__row-search {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
  .header__row-lang {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}
@media (max-width: 700px) {
  .header {
    margin-bottom: -80px;
  }
  .universal__grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .universal__grid-text {
    margin: 10px 35px 20px 35px;
  }
  .universal__grid-description {
    margin: 0px 35px 20px 35px;
  }
  .about__query {
    margin-top: 10px;
    padding: 10px 15px;
    max-width: 350px;
  }
  .about__row {
    margin-left: 10px;
  }
  .about__text {
    max-width: 550px;
  }
  .news__button {
    margin-right: 50px;
  }
  .news__grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .news__grid-image {
    max-width: 200px;
  }
  .news__row {
    margin: 20px 0px 40px 15px;
  }
  .news__header {
    margin: 0px 0px 20px 0px;
  }
  .news__grid-date {
    margin: 5px 0px 5px 0px;
  }
  .news__grid-text {
    margin-top: 5px;
  }
}
@media (max-width: 590px) {
  .header {
    margin-bottom: -70px;
  }
  .service__files {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .service__pdf {
    display: none;
  }
  .service__file:nth-child(3) {
    margin-bottom: 0;
  }
  .about__text {
    max-width: 470px;
  }
  .about__row {
    margin-left: 4px;
  }
  .about__query {
    max-width: 350px;
    margin-right: -30px;
  }
}
@media (max-width: 530px) {
  .header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media (max-width: 520px) {
  .header {
    margin-bottom: -100px;
  }
}
@media (max-width: 460px) {
  .service__row {
    margin-top: -70px;
  }
  .header {
    margin-bottom: -100px;
  }
  .universal__grid-text {
    margin: 10px 35px 10px 35px;
  }
  .universal__grid-description {
    margin: 0px 35px 10px 35px;
  }
  .news__circle {
    display: none;
  }
  .news__button {
    margin-right: 25px;
  }
}
@media (max-width: 450px) {
  .service__row {
    margin-top: -100px;
  }
  .service__grid,
.introduction__grid {
    margin-left: 20px;
  }
}
@media (min-width: 20px) {
  .menu {
    position: static;
    visibility: visible;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transform: initial;
        -ms-transform: initial;
            transform: initial;
  }
  .main ul li {
    position: relative;
    font-size: 14px;
  }
  .main ul li a:hover,
.main ul li button:hover {
    background-color: #f7f4f4;
  }
  .dropdown {
    position: absolute;
    right: 0;
    left: auto;
    -webkit-box-shadow: 0 10px 15px -3px rgba(46, 41, 51, 0.08), 0 4px 6px -2px rgba(71, 63, 79, 0.16);
            box-shadow: 0 10px 15px -3px rgba(46, 41, 51, 0.08), 0 4px 6px -2px rgba(71, 63, 79, 0.16);
    z-index: 100;
    min-width: 80px;
    padding: 0;
    background-color: #fff;
    border-radius: 0 0 0.5rem 0.5rem;
  }
  .main ul li:hover .dropdown {
    height: 100px;
  }
  .main ul li:hover > button > .arrow {
    -webkit-transform: rotate(-225deg);
        -ms-transform: rotate(-225deg);
            transform: rotate(-225deg);
    margin-top: 4px;
  }
}