//<Null file>-------------------------------------------------------------------------------------------------------
@import "rubOutStyle";
//<Fonts>-------------------------------------------------------------------------------------------------------
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400&display=swap');
//<Font family>-------------------------------------------------------------------------------------------------------

//<Variables>-------------------------------------------------------------------------------------------------------



body {
    font-family: 'PT Sans';
}
//<Shell>-------------------------------------------------------------------------------------------------------
.wrapper {width:100%; min-height: 100%; overflow: hidden;}
//<Shell>-------------------------------------------------------------------------------------------------------
.container {}