//<Null file>-------------------------------------------------------------------------------------------------------
@import "rubOutStyle";
//<Fonts>-------------------------------------------------------------------------------------------------------
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400&display=swap");
//<Font family>-------------------------------------------------------------------------------------------------------

//<Variables>-------------------------------------------------------------------------------------------------------

html,
body {
    font-family: "PT Sans";
}
//<Shell>-------------------------------------------------------------------------------------------------------
.wrapper {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
}
//<Shell>-------------------------------------------------------------------------------------------------------
.container {
    max-width: 1296px;
    margin: 0 auto;
    padding: 0 10px;
}
a {
    text-decoration: none;
    color: black;
}
.header {
    width: 100%;
    margin: 40px 0;
}
.content {
    flex: 1 1 auto;
}
.header__row {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__list {
    display: flex;
    position: relative;
    z-index: 2;
}
.header__row-items ul {
    display: flex;
}
.header__row-items ul li {
    font-size: 16px;
    line-height: 140%;
    margin: 0px 30px 0px 0px;
}
.header__row-items ul li:last-child {
    margin: 0px 0px 0px 0px;
}
.header__row-items ul li a:hover {
    color: #3d348b;
    font-weight: 700;
}
.header__row-input {
    border: none;
    border-bottom: 1px solid black;
}
.header__row-input:active {
    border: none;
}
.header__search-button {
    border: none;
    background: none;
}
.main ul li button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    width: 100%;
}
.main ul li a {
    display: block;
    text-decoration: none;
}
.main ul li a,
.main ul li button {
    padding: 5px 10px;
    text-align: center;
}
.menu {
    position: absolute;
    top: 50px;
    visibility: hidden;
    transform: translateY(-1em);
    transition: transform ease 0.5s;
}
.dropdown {
    padding: 5px 1.5rem;
    height: 0;
    overflow: hidden;
    transition: height ease 0.6s;
}
.main li:focus-within .dropdown {
    height: 100px;
}
.arrow {
    width: 5px;
    height: 5px;
    display: inline-block;
    vertical-align: middle;
    border-left: 0.15em solid #5db7de;
    border-bottom: 0.15em solid #5db7de;
    transform: rotate(-45deg);
    margin-left: 5px;
    margin-top: -6px;
    transition: transform 0.3s ease-in-out;
}
.main li:focus-within > button > .arrow {
    transform: rotate(-225deg);
    margin-top: 5px;
}
@media (min-width: 20px) {
    .menu {
        position: static;
        visibility: visible;
        background: #fff;
        display: flex;
        transform: initial;
    }
    .main ul li {
        position: relative;
        font-size: 14px;
    }
    .main ul li a:hover,
    .main ul li button:hover {
        background-color: #f7f4f4;
    }
    .dropdown {
        position: absolute;
        right: 0;
        left: auto;
        box-shadow: 0 10px 15px -3px rgba(46, 41, 51, 0.08), 0 4px 6px -2px rgba(71, 63, 79, 0.16);
        z-index: 100;
        min-width: 80px;
        padding: 0;
        background-color: #fff;
        border-radius: 0 0 0.5rem 0.5rem;
    }
    .main ul li:hover .dropdown {
        height: 100px;
    }
    .main ul li:hover > button > .arrow {
        transform: rotate(-225deg);
        margin-top: 4px;
    }
}
@media (max-width: 1020px) {
    .header__img img {
        display: none;
    }
}
@media (max-width: 900px) {
    .header__row {
        max-width: 530px;
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        justify-content: space-between;
    }
    .header__row-items {
        flex: 0 1 100%;
        margin: 0px 0px 10px 0px;
    }
    .header__row-search {
        flex: 0 1 50%;
    }
    .header__row-lang {
        flex: 0 1 50%;
    }
}
@media (max-width: 530px) {
    .header__list {
        display: flex;
        flex-wrap: wrap;
    }
}
.main {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.introduction {
    background: url("../../img/backgrounds/Rectangle\ 23.png") 50% / auto no-repeat;
}
.introduction__row {
    padding: 113px 0px 113px 0px;
    display: flex;
}
.introduction__port {
    margin: 0px 250px 0px 0px;
}
.introduction__header {
    align-self: stretch;
    font-size: 50px;
    line-height: 140%;
    color: #ffffff;
}
.introduction__description {
    margin: 40px 0px 0px 0px;
    font-size: 16px;
    line-height: 140%;
    color: #ffffff;
}
.introduction__button {
    margin: 64px 0px 0px 0px;
    display: inline-block;
}
.introduction__text {
    letter-spacing: 0.1em;
    font-size: 16px;
    line-height: 140%;
    text-transform: uppercase;
    color: #ffffff;
    padding: 0px 0px 0px 0px;
}
.introduction__circle {
    border: 2px solid #ffffff;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: inline-block;
    margin: 0px 0px 0px 15px;
    transition: all 0.5s ease-in-out;
}
.introduction__circle span {
    margin: 0px 0px 0px 5px;
}
.introduction__button:hover {
    .introduction__circle {
        transform: translate(45px, 0px);
    }
}
.universal__grid {
    display: grid;
    grid-template-columns: minmax(306px, 1fr) minmax(306px, 1fr);
    grid-template-rows: minmax(205px, 1fr) minmax(205px, 1fr);
}
.universal__grid-item {
    background-color: #5db7de;
    border-radius: 10px;
    color: #fff;
    margin: 0px 24px 24px 0px;
    transition: all 0.5s ease-in-out;
}
.universal__grid-item:hover {
    transform: scale(1.07, 1.07);
    -webkit-box-shadow: 0px 0px 26px -7px rgba(0, 0, 0, 0.59);
    -moz-box-shadow: 0px 0px 26px -7px rgba(0, 0, 0, 0.59);
    box-shadow: 0px 0px 26px -7px rgba(0, 0, 0, 0.59);
}
.universal__grid-text {
    margin: 30px 35px 118px 35px;
    font-size: 13px;
    text-transform: uppercase;
}
.universal__grid-description {
    margin: 0px 35px 30px 35px;
}
@media (max-width: 1300px) {
    .header {
        margin-bottom: -80px;
    }
    .introduction__port {
        max-width: 600px;
        margin: 0px 0px 0px 0px;
    }
    .introduction__header {
        margin-bottom: -30px;
    }
    .introduction__description {
        margin-bottom: -30px;
    }
    .introduction__button {
        margin-bottom: 30px;
    }
    .introduction__row {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .universal__grid {
        display: grid;
        grid-template-columns: minmax(306px, 306px) minmax(306px, 306px);
        grid-template-rows: minmax(205px, 205px) minmax(205px, 205px);
    }
    .universal__grid-text {
        margin: 20px 35px 90px 35px;
    }
    .universal__grid-description {
        margin: 0px 35px 30px 35px;
    }
}
@media (max-width: 700px) {
    .header {
        margin-bottom: -80px;
    }
    .universal__grid {
        display: flex;
        flex-direction: column;
    }
    .universal__grid-text {
        margin: 10px 35px 20px 35px;
    }
    .universal__grid-description {
        margin: 0px 35px 20px 35px;
    }
}
@media (max-width: 590px) {
    .header {
        margin-bottom: -70px;
    }
}
@media (max-width: 520px) {
    .header {
        margin-bottom: -100px;
    }
}
@media (max-width: 460px) {
    .header {
        margin-bottom: -100px;
    }
    .universal__grid-text {
        margin: 10px 35px 10px 35px;
    }
    .universal__grid-description {
        margin: 0px 35px 10px 35px;
    }
}
@media (max-width: 450px) {
    .introduction__grid {
        margin-left: 20px;
    }
}


.service {
}

.service__row {
    display: flex;
    margin: 150px 0;
}
.service__header {
    display: flex;
    flex-direction: column;
}
.service__head {

}
.universal__head {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 140%;
    color: #333333;
}
.service__files {
}

.service__file {
}
.service__anker {
    text-decoration: dashed;
}
.service__grid {
}
.universal__grid {
}
.service__grid {
    grid-template-columns: minmax(416px, 416px) minmax(416px, 416px);
    grid-template-rows: minmax(223px, 223px) minmax(223px, 223px);
}
.service__grid-item-big {
    background-color: #3d348b;
}
.universal__grid-text {
}
.universal__grid-description {
}
